<button {{action "toggleSidepanel"}} class="btn-toggle">
  {{#if isOpen}} close {{else}} trends {{/if}} <!-- // Button text -->
</button>


{{yield}} <!-- // comments inserted between the component tags -->
