<button {{action "toggleSidepanel"}} class="btn-toggle">
  {{#if isOpen}} close {{else}} trends {{/if}} <!-- // Button text -->
</button>

<h3>{{name}}</h3>
<div class="sidepanel-spacing">
    {{yield}} <!-- // comments inserted between the component tags -->
</div>