<button {{action "toggleSidepanel"}} class="btn-toggle">
  {{#if isOpen}} close {{else}} trends {{/if}} <!-- // Button text -->
</button>


<div class="sidepanel-contents">
    <h3>Active trends</h3>
</div>