<button {{action "toggleSidepanel"}} class="btn-toggle">
  {{#if isOpen}} close {{else}} trends {{/if}} <!-- // Button text -->
</button>

<h3>{{name}}</h3>
{{yield}} <!-- // comments inserted between the component tags -->