$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

.col-username {
	text-align: right;
}

.username {
	color: green;
}

.user-id-1 {
	color: blue;
}