<div class="container">
    <h1>Select a room to join</h1>
</div>

<div class="container">
    <div class="well room-selection">
        <ul>
        {{#each chatroom in model}}
            {{#link-to "room" chatroom.id }}
                <li {{action 'join' chatroom.chatroom}}>{{chatroom.chatroom}}  <span class="glyphicon glyphicon-chevron-up pull-right"></span></li>
            {{/link-to}}
        {{/each}}
        </ul>
    </div>
</div>