<div class="container">
    <div class="well room-selection">
        <ul>
        	<div class="row">
        		<div class="col-xs-2 col-xs-offset-5">
        			<div class="loading-wheel-container text-center">
        				<img class="loading-wheel" src="images/ajax-loader.gif">
        			</div>
        		</div>
        	</div>
        </ul>
    </div>
</div>