<!-- // the name value is passed to the component -->
{{#side-panel name="Trends" isOpen=false}}
<div class="sidepanel-contents">
    <!-- // is placed within the yield of the component -->
    {{#each chatroom in model}}
        {{#link-to "room" chatroom.id}}
            <li class="truncate" {{action 'join' chatroom.chatroom}}><span class="glyphicon glyphicon-star"></span> {{chatroom.chatroom}}</li>
        {{/link-to}}
    {{/each}}
</div>
{{/side-panel}}


{{outlet}} <!-- // Outlet for the room.hbs -->