<div class="container">
    <h1>{{chatroom}}</h1>
</div>


<div class="container" id="chat-messages">
    {{#each chatMessages}}
    <div class="row message-row">
        <div class="col-sm-offset-1 col-sm-8 message message-yours">
            {{this.message}}
        </div>
    </div>
    {{/each}}
</div>


<div class="container-fluid">
    <div class="row message-input-container">
        {{input type="text" id="new-message" placeholder="Type and press enter..." value=newMessage action="sendMessage"}}
    </div>
</div>