<div class="container">
    <h1>{{chatroom}}</h1>
</div>


<div class="container" id="chat-messages">

    <div class="row message-row">
        <div class="col-sm-offset-1 col-sm-8 message message-yours">
            iOS is for noobs and no one should use it
            </br>says: <strong>You</strong>
        </div>
    </div>

    <div class="row message-row">
        <div class="col-sm-offset-3 col-sm-8 message message-theirs">
            Yeah I agree, it's a bit of crap
            </br><strong>James</strong>
        </div>
    </div>

    <div class="row message-row">
        <div class="col-sm-offset-3 col-sm-8 message message-theirs">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </br><strong>John</strong>
        </div>
    </div>

    <div class="row message-row">
        <div class="col-sm-offset-1 col-sm-8 message message-yours">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </br><strong>You</strong>
        </div>
    </div>

    {{#each chatMessages}}
    <div class="row message-row">
        <div class="col-sm-offset-1 col-sm-8 message message-yours">
            {{this.message}}
            </br><strong>You</strong>
        </div>
    </div>
    {{/each}}
</div>


<div class="container-fluid">
    <div class="row message-input-container">
        {{input type="text" id="new-message" placeholder="Type and press enter..." value=newMessage action="sendMessage"}}
    </div>
</div>